.tab_container {
  padding: 0;
  margin: 30px;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 0 18vw;
  width: calc(64vw - 60px);
  border-radius: 25px;
}

.tab_container > button {
  width: 50%;
  height: 40px;
}

.tab_button_encrypt {
  border-radius: 25px 0 0 25px;
}
.tab_button_decrypt {
  border-radius: 0 25px 25px 0;
}
.tab_button_active {
  background-color: rgb(136, 136, 136);
}

.tab_button_active:hover {
  background-color: rgb(136, 136, 136);
}
